<div class="user-container">
  
  <div class="row about-user-container">  
    <div class="large-4 columns">
      <%= image_tag @user.image, :class => 'user-image' %>
    </div>
    

          <div class="large-8 columns">
            <div class="about-user">
              <h1><%= @user.name %></h1>
              <ul class="user-links-container">
                <li class="user-links">
                  
                  <%= link_to '', edit_user_path(@user), :class => 'fa fa-pencil' %>
                </li>
                <li class="user-links">
                  <%= link_to "", user_path(current_user), :method => :delete, :class => 'fa fa-trash-o'  %>
                </li>
                <li class="user-links"><%= link_to '', new_project_path, :class => 'fa fa-plus' %></li>
              </ul>

              <p><strong>Bio: </strong><%=@user.bio%></p>
            </div>
          </div>
  </div>
<hr>
  <div class="row current-projects-header">
    <div class="large-12 columns">
      <h1 class="text-center">Current projects</h1>
    </div>
  </div>

  <div class="current-project-container">
      <% @my_projects.each do |project| %>
        <div class="row">
          <div class="large-5 columns">
            <%= image_tag project.image, :class => "user-current-project-image" %>
          </div>

          <div class="large-7 columns ">
              <h4><%= link_to project.name, project_path(project) %></h4>
              <p>Deadline: <%= project.deadline.strftime("%A, %B %d, %Y")%></p>

              <p>Description: <%= project.description %></p>
          </div>
        </div>
      <% end %>
  </div>
</div>