<h1>Welcome <%= @user.name %>! </h1>


<%= link_to 'Edit Page' edit_user_path(@user) %>


<%= link_to 'Create a Project' new_project_path %> 
<%= link_to "Your Pledges" %>
<%= link_to " Your Projects" %>

