<%= form_for(@project, html: {multipart: true}) do |f| %>
<% if @project.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved: </h2>

    <ul>
        <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
</div>
<% end %>
<div class="le_form">
    <div class="field">
        <div class="small-12 columns">
            <label class= "inline"><%= f.label :Project_name %></label> 
            <%= f.text_field :name %>
        </div>
        </div>
        
    </div>

    <div class="field">
        <div class="small-12 columns">
            <label class= "inline"><%= f.label :description %></label>
            <%= f.text_area :description %>
        </div>
    </div>
    <div class="field">
        <div class="small-12 columns">

            <label class="inline"><%= f.label :image %></label>
            <%= f.file_field :image %>
        </div>
    </div>
        


    <div class="field">
        <div class="small-6 columns">
            <label class= "inline"><%= f.label :goal_in_cents %></label>
            <%= f.number_field :goal_in_cents %>
        </div>
    </div>

    <div class="field">
        <div class="small-6 columns">
            <label class= "inline"><%= f.label :deadline %></label>
            <%= f.select(:deadline, options_for_select(@limit)) %>
        </div>
    </div>

<!-- This doesnt seems to work with foundation, but was working before  -->
<div class="field">
    <div class="reward">
        <%= f.fields_for :rewards do |reward| %>
        <%= render 'reward_fields', :f => reward %>
        <% end %>
<<<<<<< HEAD
        <%= link_to_add_association 'Add a reward', f, :rewards, :class => 'button [tiny small large]' %>
=======
        <div class="small-12 columns">
           <%= link_to_add_association 'Add a rewards', f, :rewards, :class => 'button [tiny small large]' %> 
        </div>
>>>>>>> userpage
    </div>
</div>
        
<!-- this needs to be centered -->
    <div class="actions">
        <div class="small-12 columns">
            <%= f.submit :class => 'button [radius round]' %>
        </div>
    </div>

<% end %>
