<div class = "nested-fields">
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :level %>
  <%= f.number_field :level %><br>
  <%= f.label :description %>
  <%= f.text_field :description %><br>
  <%= link_to_remove_association "remove reward", f %>
</div>