
<div class = "nested-fields">
  <%= f.label :level %>
  <%= f.number_field :level %><br>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :description %>
  <%= f.text_area :description %><br>
  <%= link_to_remove_association "remove reward", f, :class => 'button' %>
  <% if f.object.persisted? %>
        <%= f.label :_destroy, "Destroy" %><br/>
        <%= f.check_box :_destroy %>
  <% end %>
</div>