

  <div class= "row ">
    <div class="large-12 columns project-header" role="content">
      <h1><%= @project.name %></h1>
      <h5>By: <%= link_to @project.owner.name, user_path(@project.owner) %></h5>
      <hr/>
      <!-- This code is for the image and the description -->
    </div>
  </div>


<div class="favourite-container">
  <div class="row">
    <div class="large-7 columns">
      <%= image_tag @project.image %>
      <!-- <img src="http://i.huffpost.com/gen/1665725/thumbs/o-WOMEN-ENGINEER-facebook.jpg"> -->
        
      <div class="large-12 columns">
        <p><%= @project.description %></p>
      </div>
        
    </div>

    <!-- This code is for the info section -->
      <aside class="large-5 columns">
        <div class="panel">
          <ul class="side-nav">
            <li class="project-info-list">
              Backers:
              <%= @project.pledges.count %>
            </li>
            <li class="project-info-list">
              Goal: 
              $<%= @project.goal_in_cents %>
            </li>
            <li class="project-info-list">
              Deadline:
              <%= @project.deadline.strftime("%A, %B %d, %Y")  %>
            </li>
          </ul>

          <div class="row">
            <div class="large-6 large-centered columns">
              <%= link_to 'Make a pledge $1 minimum', new_project_pledge_path(@project), :class => "button [tiny small large] pledge-button " %>
            </div>
          </div>
         

          <div class="panel callout reward-panel">
            <div class="row">
              <div class="large-12 columns">
                <h5 class="text-center rewards-header">Rewards</h5>
              </div>
            </div>


              <div class="row">
                <div class="large-12 columns">
                  <% if @project.rewards != nil %>
                    <% @project.rewards.each do |r| %>
                      <p class="reward-info">Level: $<%= r.level %></p>
                      <p class="reward-info">Package: <%= r.name %></p>
                      <p class="reward-info">Description :<%= r.description %></p>
                      <hr>
                    <% end %>
                  <% end %>
                </div>
              </div>


            </div>
          </div>
      </aside>



  </div>
</div>




<!-- This code is for the pledges panel -->

  <div class="row">
    <div class="large-12 columns">
      <div class = "panel">

        <h3>Pledges</h3>

        <% @project.pledges.each do |pledge| %>
          <p>
            <%= pledge.amount_in_cents %><br>
            <% if pledge.user != nil %>
              <em> by <%= pledge.user.name %></em>
              Added on: <%= pledge.created_at %>
            <% else %>
              <p>There are currently no pledges</p>
            <% end %>
          </p>
        <% end %>
      </div>
    </div>
  </div>



