<div class="fixed">
  <nav class="top-bar nav-top-bar" data-topbar role="navigation" data-options="sticky_on: large">
 		<ul class="title-area">
               
      <li class="name">
        <h1 id="app-logo"><%= link_to "Crowdfunder", root_path %></h1>
      </li>
         
     
      <li class="toggle-topbar icon"><a href="#"><span></span></a></li>
		</ul>
<section class="top-bar-section">
		<ul class="left">
			<li id="triangle-topleft"></li>
		</ul>
		<ul class="right">

			<li class="has-form">
	      <%= form_tag (projects_path), action: "search", method: "get" do %>
	        <div class="row collapse">
	          <div class="large-4 small-3 columns">
	            <%= submit_tag "search", :name => nil, :class => 'button [tiny small large] search-button' %>
	          </div>
	          <div class="large-8 small-9 columns">
	            <%= text_field_tag :search, params[:search], :placeholder => 'search projects' %>
	        
	          </div>  
	        </div>
	      <% end %>  
				<li class="links"><%= link_to 'Projects', projects_path %></li>
			<% if current_user %>

        <li class="links"><%= link_to 'Profile', user_path(current_user)%></li>

        <li class="links"><%= link_to 'Log out', log_out_path %></li>

      <% else %>

        <li class="links"><%= link_to "Login", new_session_path%></li>
        <li class="links"><%= link_to "Sign up", new_user_path%></li>

      <% end %>
      </li>
		</ul>
	</section>
  </nav>
</div>